In [1]:
# Importing the necessary packages
library(AlgDesign)
library(MLCM)
library(conjoint)

[CONJOINT MODEL SPECIFICATIONS]
Target variable: Utility
Factors and levels:
Cup size: 300ml, 450ml, 600ml (OK)
Flavors: original, strawberry, orange (?)
Price: 3000, 5000, 7000 (?) Atau 4000, 5000, 6000?
Prohibited combinations: Why don't we just generate an orthogonal design first, and then see whether or not any unrealistic combinations are generated? <- guess this is OK
Number of orthogonal objects = 9 - 3 + 1 = 7

In [3]:
# Defining the (initial) full factorial design
ffd <- gen.factorial(c(3, 3, 3), varNames = c('cupSize', 'flavors', 'price'), factors = 'all')

In [4]:
# Checking ffd
ffd

   cupSize flavors price
1  1       1       1
2  2       1       1
3  3       1       1
4  1       2       1
5  2       2       1
6  3       2       1
7  1       3       1
8  2       3       1
9  3       3       1
10 1       1       2
11 2       1       2
12 3       1       2
13 1       2       2
14 2       2       2
15 3       2       2
16 1       3       2
17 2       3       2
18 3       3       2
19 1       1       3
20 2       1       3
21 3       1       3
22 1       2       3
23 2       2       3
24 3       2       3
25 1       3       3
26 2       3       3
27 3       3       3

In [5]:
# Generating the orthogonal design
set.seed(42)
des <- optFederov(~., ffd, 7)
des$design

   cupSize flavors price
1  1       1       1
5  2       2       1
9  3       3       1
12 3       1       2
16 1       3       2
22 1       2       3
26 2       3       3

[DESIGN SENSIBILITY CHECK]
Cup size: 300ml, 450ml, 600ml (OK)
Flavors: original, strawberry, orange (?)
Price: 3000, 5000, 7000 (?) Atau 4000, 5000, 6000?

This design creates a few designs that don't really make sense (ex. row 9: 600ml, orange, at only 3000?) Hence, some remedies would be necessary.

Alternatively, we could combine price with cupSize; That might make more sense.

Sensible combinations (7 levels):
300ml, 3000
300ml, 5000
450ml, 3000
450ml, 5000
450ml, 7000
600ml, 5000
600ml, 7000

Number of orthogonal objects = 10 - 2 + 1 = 9

Still too many? Ideally under 7.

I still think 9 questions is somewhat long, but we'll have to experiment tomorrow. Let's just try out this version (with 9 questions for this), and see how much time it takes (and whether you'd get confused when filling it in).

In [6]:
# Defining the combined full factorial design
ffdComb <- gen.factorial(c(7, 3), varNames = c('cupSize-price', 'flavors'), factors = 'all')

In [7]:
# Checking ffdComb
ffdComb

   cupSize-price flavors
1  1             1
2  2             1
3  3             1
4  4             1
5  5             1
6  6             1
7  7             1
8  1             2
9  2             2
10 3             2
11 4             2
12 5             2
13 6             2
14 7             2
15 1             3
16 2             3
17 3             3
18 4             3
19 5             3
20 6             3
21 7             3

In [8]:
# Generating the orthogonal design of ffdComb
set.seed(42)
desComb <- optFederov(~., ffdComb,11)
desComb$design

   cupSize-price flavors
1  1             1
3  3             1
6  6             1
8  1             2
10 3             2
11 4             2
12 5             2
16 2             3
19 5             3
20 6             3
21 7             3

[DESIGN SENSIBILITY CHECK]
Cup size & Price: 
1. 300ml, 3000
2. 300ml, 5000
3. 450ml, 3000
4. 450ml, 5000
5. 450ml, 7000
6. 600ml, 5000
7. 600ml, 7000
Flavors: 1. original, 2. strawberry, 3. orange
1. 300ml, 3000, original
2. 450ml, 3000, original
3. 600ml, 5000, original
4. 300ml, 3000, strawberry
5. 450ml, 3000, strawberry
6. 450ml, 5000, strawberry
7. 450ml, 7000, strawberry
8. 300ml, 5000, orange
9. 450ml, 7000, orange
10. 600ml, 5000, orange
11. 600ml, 7000, orange
nb: setelah dipikir-pikir lagi, mungkin 3000 untuk 450ml juga tidak terlalu realistis. sepertinya range harganya harus sedikit ditingkatkan.

Harga jadi 4000, 5000, 7000.
Cup size & Price: 
1. 300ml, 4000
2. 300ml, 5000
3. 450ml, 5000
4. 450ml, 7000
5. 600ml, 5000
6. 600ml, 7000

In [9]:
# Defining the modified combined full factorial design
ffdModComb <- gen.factorial(c(6, 3), varNames = c('cupSize-price', 'flavors'), factors = 'all')

In [10]:
# Checking ffdModComb
ffdModComb

   cupSize-price flavors
1  1             1
2  2             1
3  3             1
4  4             1
5  5             1
6  6             1
7  1             2
8  2             2
9  3             2
10 4             2
11 5             2
12 6             2
13 1             3
14 2             3
15 3             3
16 4             3
17 5             3
18 6             3

In [11]:
# Generating the orthogonal design of ffdModComb
set.seed(42)
desModComb <- optFederov(~., ffdModComb,8)
desModComb$design

   cupSize-price flavors
2  2             1
3  3             1
5  5             1
7  1             2
9  3             2
10 4             2
12 6             2
18 6             3

330[DESIGN SENSIBILITY CHECK]
1. 300ml, 7000, original
2. 450ml, 7000, original
3. 600ml, 9000, original
4. 300ml, 5000, buah
5. 450ml, 7000, buah
6. 450ml, 9000, buah
7. 600ml, 11000, buah
8. 600ml, 11000, milk tea

Cup size & Price: 
1. 300ml, 5000
2. 300ml, 7000
3. 450ml, 7000
4. 450ml, 9000
5. 600ml, 9000
6. 600ml, 11000

Flavors: 1. original, 2. buah, 3. milk tea

5000 untuk cup 600 ml apakah sensible? Rasanya tidak.. coba agak disesuaikan lagi

nb: kalo untuk tiap ukuran cup cuman bisa ada 2 harga, mendingan std an turun

NOTE: We might have to take the conjoint analysis part of this down offline; The conjoint package doesn't seem to be available on the server.

In [12]:
results <- desModComb$design

In [45]:
answers <- c(2, 1, 5, 2, 2, 2, 2, 1)

In [46]:
urutan <- c(2, 4, 8, 1, 6, 3, 5, 7)
results$answers[urutan] <- answers

In [47]:
results

   cupSizeXprice flavors answers
2  2             1       2
3  3             1       2
5  5             1       2
7  1             2       1
9  3             2       2
10 4             2       2
12 6             2       1
18 6             3       5

   cupSizeXprice flavors answers
2  2             1       2
3  3             1       2
5  5             1       2
7  1             2       1
9  3             2       2
10 4             2       2
12 6             2       1
18 6             3       5

   cupSizeXprice flavors answers
2  2             1       2
3  3             1       2
5  5             1       2
7  1             2       1
9  3             2       2
10 4             2       2
12 6             2       1
18 6             3       5

In [48]:
names(results) <- c('cupSizeXprice', 'flavors', 'answers')

In [49]:
# Setting up matrix of preferences
preferences <- results$answers

In [50]:
# Setting up matrix of profiles
profile <- results[, c('cupSizeXprice', 'flavors')]

In [51]:
profile

   cupSizeXprice flavors
2  2             1
3  3             1
5  5             1
7  1             2
9  3             2
10 4             2
12 6             2
18 6             3

   cupSizeXprice flavors
2  2             1
3  3             1
5  5             1
7  1             2
9  3             2
10 4             2
12 6             2
18 6             3

   cupSizeXprice flavors
2  2             1
3  3             1
5  5             1
7  1             2
9  3             2
10 4             2
12 6             2
18 6             3

In [52]:
# Defining feature values
feature_names <- c('cupSizexprice', 'flavors')
feature_values <- list()
feature_values[[1]] <- c('300ml, 5000', '300ml, 7000', '450ml, 7000', '450ml, 9000', '600ml, 9000', '600ml, 11000')
feature_values[[2]] <- c('original', 'buah', 'milk tea')

In [53]:
summary(Conjoint(preferences, profile, z = unlist(feature_values), 'score'))

Call:
lm(formula = frml)

Residuals:
ALL 8 residuals are 0: no residual degrees of freedom!

Coefficients:
                         Estimate Std. Error t value Pr(>|t|)
(Intercept)                3,0000         NA      NA       NA
factor(x$cupSizeXprice)1  -0,6667         NA      NA       NA
factor(x$cupSizeXprice)2   0,3333         NA      NA       NA
factor(x$cupSizeXprice)3   0,3333         NA      NA       NA
factor(x$cupSizeXprice)4   0,3333         NA      NA       NA
factor(x$cupSizeXprice)5   0,3333         NA      NA       NA
factor(x$flavors)1        -1,3333         NA      NA       NA
factor(x$flavors)2        -1,3333         NA      NA       NA

Residual standard error: NaN on 0 degrees of freedom
Multiple R-squared:      1,	Adjusted R-squared:    NaN
F-statistic:   NaN on 7 and 0 DF,  p-value: NA

[1] "Part worths (utilities) of levels (model parameters for whole sample):"
         levnms    utls
1     intercept       3
2   300ml, 5000 -0,6667
3   300ml, 7000  0,3333
4   450ml, 7000  0,3333
5   450ml, 9000  0,3333
6   600ml, 9000  0,3333
7  600ml, 11000 -0,6667
8      original -1,3333
9          buah -1,3333
10     milk tea  2,6667
[1] "Average importance of factors (attributes):"
[1] 20 80
[1] Sum of average importance:  100
[1] "Chart of average factors importance"

       V1
 Min.   :0.7
 1st Qu.:1.0
 Median :1.3
 Mean   :1.3
 3rd Qu.:1.6
 Max.   :1.9

Call:
lm(formula = frml)

Residuals:
ALL 8 residuals are 0: no residual degrees of freedom!

Coefficients:
                         Estimate Std. Error t value Pr(>|t|)
(Intercept)                3,0000         NA      NA       NA
factor(x$cupSizeXprice)1  -0,6667         NA      NA       NA
factor(x$cupSizeXprice)2   0,3333         NA      NA       NA
factor(x$cupSizeXprice)3   0,3333         NA      NA       NA
factor(x$cupSizeXprice)4   0,3333         NA      NA       NA
factor(x$cupSizeXprice)5   0,3333         NA      NA       NA
factor(x$flavors)1        -1,3333         NA      NA       NA
factor(x$flavors)2        -1,3333         NA      NA       NA

Residual standard error: NaN on 0 degrees of freedom
Multiple R-squared:      1,	Adjusted R-squared:    NaN
F-statistic:   NaN on 7 and 0 DF,  p-value: NA

[1] "Part worths (utilities) of levels (model parameters for whole sample):"
         levnms    utls
1     intercept       3
2   300ml, 5000 -0,6667
3   300ml, 7000  0,3333
4   450ml, 7000  0,3333
5   450ml, 9000  0,3333
6   600ml, 9000  0,3333
7  600ml, 11000 -0,6667
8      original -1,3333
9          buah -1,3333
10     milk tea  2,6667
[1] "Average importance of factors (attributes):"
[1] 20 80
[1] Sum of average importance:  100
[1] "Chart of average factors importance"

       V1
 Min.   :0.7
 1st Qu.:1.0
 Median :1.3
 Mean   :1.3
 3rd Qu.:1.6
 Max.   :1.9

Call:
lm(formula = frml)

Residuals:
ALL 8 residuals are 0: no residual degrees of freedom!

Coefficients:
                         Estimate Std. Error t value Pr(>|t|)
(Intercept)                3,0000         NA      NA       NA
factor(x$cupSizeXprice)1  -0,6667         NA      NA       NA
factor(x$cupSizeXprice)2   0,3333         NA      NA       NA
factor(x$cupSizeXprice)3   0,3333         NA      NA       NA
factor(x$cupSizeXprice)4   0,3333         NA      NA       NA
factor(x$cupSizeXprice)5   0,3333         NA      NA       NA
factor(x$flavors)1        -1,3333         NA      NA       NA
factor(x$flavors)2        -1,3333         NA      NA       NA

Residual standard error: NaN on 0 degrees of freedom
Multiple R-squared:      1,	Adjusted R-squared:    NaN
F-statistic:   NaN on 7 and 0 DF,  p-value: NA

[1] "Part worths (utilities) of levels (model parameters for whole sample):"
         levnms    utls
1     intercept       3
2   300ml, 5000 -0,6667
3   300ml, 7000  0,3333
4   450ml, 7000  0,3333
5   450ml, 9000  0,3333
6   600ml, 9000  0,3333
7  600ml, 11000 -0,6667
8      original -1,3333
9          buah -1,3333
10     milk tea  2,6667
[1] "Average importance of factors (attributes):"
[1] 20 80
[1] Sum of average importance:  100
[1] "Chart of average factors importance"

       V1
 Min.   :0.7
 1st Qu.:1.0
 Median :1.3
 Mean   :1.3
 3rd Qu.:1.6
 Max.   :1.9

Cup size & Price: 
1. 300ml, 5000
2. 300ml, 7000
3. 450ml, 7000
4. 450ml, 9000
5. 600ml, 9000
6. 600ml, 11000